<body>
    <header>
        <nav>
            <div class="logo">
                <a href="{{ url_for('home') }}" style="color:white; text-decoration:none;">My Flask App</a>
            </div>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about_us') }}">About Us</a></li>
                <li><a href="{{ url_for('contact_us') }}">Contact Us</a></li>
                <li><a href="{{ url_for('marketplace') }}">Marketplace</a></li>
                <li><a href="{{ url_for('profile') }}">your inventory</a></li>
                <li><a href="{{ url_for('faq') }}">FAQ</a></li>
                <li><a href="{{ url_for('sell') }}">Sell</a></li>
                <li><a href="{{ url_for('trade') }}">Trade</a></li>
                <li><a href="{{ url_for('buy_math') }}">Buy</a></li>
                <li><a href="{{ url_for('buy') }}">Buy</a></li>
                <li><a href="{{ url_for('logout') }}">logout</a></li>

                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>


